# Replace panel.example.com with your domain.
panel.example.com {
    reverse_proxy app:80
}
bigaarcadezoneee.com {
    reverse_proxy https://imthebestgetty-droid.github.io {
        header_up Host imthebestgetty-droid.github.io
    }
}
